.loader {
    position: relative;
    top: 100%;
    left: 50%;
}

.loader span {
    position: absolute;
    font-weight: bold;
    color: #f1f1f7;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 5px;
}

.loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px #00FFFD;
}

.loader span:nth-child(2) {
    color: #CFFEFD;
    -webkit-text-stroke: 1px #CFFEFD;
    animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
        54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%,
        51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.background-content-color::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -20px;
    bottom: 0;
    opacity: 0.9;
    background: #405189;
    background: -webkit-gradient(linear, left bottom, left top, from(#171e32), to(#405189));
    background: linear-gradient(to top, #171e32, #405189);
}
.background-content-color {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-image: url("/assets/images/profile-bg.jpg");
}
.marquee-text {
    color: #405189;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}