header {
    background-color: #333 !important;
    color: #fff !important;
    padding: 16px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    font-family: Arial, sans-serif;
    z-index: 9999;
}

footer {
    background-color: #333 !important;
    color: #fff !important;
    padding: 10px !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 9999;
}

.content-wrapper {
    margin-top: 90px !important;
    margin-bottom: 40px !important;
    padding: 20px !important;
    height: 1000px !important;
}

a,ul:hover{
    cursor: pointer;
    text-decoration: none;
}

li.disabled:hover {
    cursor: not-allowed;
}

h1,h3 {
    background-color: #333;
    color: #fff !important;
    padding: 15px !important;
    margin: 0 !important;
    text-align: center !important;
}

table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 10px !important;
}

th, td {
    border: 1px solid #ccc !important;
    padding: 10px !important;
    text-align: left !important;
    line-height: 100%;
}

th {
    background-color: #333 !important;
    color: #fff !important;
    text-align: center !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

tr:hover {
    background-color: #ddd !important;
}

td:nth-child(3) {
    width: 40%;
}

/*border radius around for avatar*/
.rounded-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.rounded-circle-container img {
    max-width: 100%;
    max-height: 100%;
}

/*Scrollbar*/
/* Ẩn thanh cuộn mặc định */
::-webkit-scrollbar {
    width: 12px;
}

/* Điểm cuộn */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* Điểm cuộn khi hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Track (phần nền của thanh cuộn) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Track khi hover */
::-webkit-scrollbar-track:hover {
    background: #ddd;
}

/*Loading Spin*/
.loading-spin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 20%;
    font-size: 24px;
    z-index: 9999;
}