.avatar{
    width: 60px;
    height: 60px;
}

div.modal-content {
    margin-top: 20%;
}

#successModal div.modal-content{
    margin-top: 50%;
}

#deleteNotificationModal div.modal-content{
    margin-top: 50%;
}

 #createNotificationModal div.modal-content{
     margin-top: 50%;
 }

 .user-info p{
     margin: 0;
 }

.user-info p.user-name{
    font-weight: bold;
    font-size: 17px
}

.user-info p.comment-date{
    font-style: italic;
    font-size:12px;
}