.avatar{
    width: 60px;
    height: 60px;
}

div.modal-content {
    margin-top: 20%;
}

#successModal div.modal-content{
    margin-top: 50%;
}

#deleteNotificationModal div.modal-content{
    margin-top: 50%;
}

 #createNotificationModal div.modal-content{
     margin-top: 50%;
 }
