div.modal-content {
    margin-top: 20%;
}

#successModal div.modal-content{
    margin-top: 50%;
}

#deleteAccountModal div.modal-content{
    margin-top: 50%;
}

.min-width{
    min-width: 120px;
}

.shortened-text {
    white-space: nowrap; /* Ngăn text xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa nếu nó vượt quá kích thước định sẵn */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) khi text bị ẩn đi */
}