<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.ContractMapper">

    <insert id="addContract" parameterType="com.shsoftvina.erpshsoftvina.entity.Contract">
        INSERT INTO CONTRACT (ID, BASIC_SALARY, FILES, CREATED_DATE, USER_ID, STATUS, HISTORY_ID)
        VALUES (#{id}, #{basicSalary}, #{files}, #{createdDate}, #{user.id}, #{status}, #{parentContract.id})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM CONTRACT WHERE ID = #{id}
    </delete>

    <select id="findById" resultMap="contractResultMap">
        SELECT
            c.ID AS contract_id,
            c.BASIC_SALARY AS contract_basic_salary,
            c.FILES AS contract_contractFile,
            c.CREATED_DATE AS contract_created_date,
            c.STATUS AS contract_status,
            a.ID AS allowance_insurance_id,
            a.ITEM AS allowance_insurance_item,
            a.ITEM_VALUE AS allowance_insurance_item_value
            a.TYPE AS allowance_insurance_type
        FROM CONTRACT c
        LEFT JOIN ALLOWANCE_INSURANCE a ON c.ID = a.CONTRACT_ID
        WHERE c.ID = #{id}
    </select>

    <resultMap id="contractResultMap" type="com.shsoftvina.erpshsoftvina.entity.Contract">
        <id property="id" column="contract_id"/>
        <result property="basicSalary" column="contract_basic_salary"/>
        <result property="files" column="contract_contractFile"/>
        <result property="createdDate" column="contract_created_date"/>
        <result property="status" column="contract_status"/>
        <collection property="allowanceInsurances" column="contract_id" ofType="com.shsoftvina.erpshsoftvina.entity.AllowanceInsurance"
                    resultMap="allowanceInsuranceResultMap"/>
    </resultMap>

    <resultMap id="allowanceInsuranceResultMap" type="com.shsoftvina.erpshsoftvina.entity.AllowanceInsurance">
        <id property="id" column="allowance_insurance_id" />
        <result property="item" column="allowance_insurance_item" />
        <result property="itemValue" column="allowance_insurance_item_value" />
        <result property="type" column="allowance_insurance_type" />
    </resultMap>

    <update id="updateContract" parameterType="com.shsoftvina.erpshsoftvina.entity.Contract">
        UPDATE CONTRACT
        SET BASIC_SALARY = #{basicSalary},
            FILES = #{files}
        WHERE ID = #{id};
    </update>

    <update id="changeStatusContract" parameterType="String">
        UPDATE CONTRACT c
        SET STATUS = #{status}
        WHERE ID = #{id} or c.HISTORY_ID = #{id};
    </update>

    <select id="getHistoryContract" resultMap="contractResultMap">
        SELECT
            c.ID AS contract_id,
            c.BASIC_SALARY AS contract_basic_salary,
            c.FILES AS contract_contractFile,
            c.CREATED_DATE AS contract_created_date,
            c.STATUS AS contract_status,
            a.ID AS allowance_insurance_id,
            a.ITEM AS allowance_insurance_item,
            a.ITEM_VALUE AS allowance_insurance_item_value
            a.TYPE AS allowance_insurance_type
        FROM CONTRACT c
        INNER JOIN ALLOWANCE_INSURANCE a ON c.ID = a.CONTRACT_ID
        WHERE c.HISTORY_ID = #{id}
        ORDER BY c.CREATED_DATE DESC;
    </select>
</mapper>
