<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hieDev.minierp.mapper.FeelingOfBookMapper">

    <update id="updateFeelingOfBook" parameterType="com.hieDev.minierp.entity.FeelingOfBook">
        UPDATE FEELING_OF_BOOK
        SET BOOK_REPORT  = #{bookReport},
            TIME_SPENT_READING = #{timeSpentReading},
            NOTE = #{note}
        WHERE ID = #{id}
    </update>

    <select id="findById" resultMap="feelingOfBookResultMap">
        SELECT fb.ID           AS fb_id,
               fb.BOOK_REPORT       AS fb_book_report,
               fb.CREATED_DATE AS fb_created_date,
               fb.TIME_SPENT_READING       AS fb_time_spent_reading,
               fb.NOTE         AS fb_NOTE,
               fb.USER_ID      AS fb_user_id,
               fb.BOOK_ID      AS fb_book_id,
               u.ID            AS user_id,
               u.FULLNAME      AS user_fullname,
               u.AVATAR        AS user_avatar,
               c.ID            AS comment_id,
               c.USER_ID       AS comment_user_id,
               c.CONTENT       AS comment_content,
               c.PARENT_ID     AS comment_parent_id,
               c.CREATED_DATE  AS comment_created_date,
               c.MODIFIED_DATE AS comment_modified_date,
               c.MODIFIED_BY   AS comment_modified_by
        FROM FEELING_OF_BOOK fb
                 LEFT JOIN COMMENT_FEELING_OF_BOOK c ON fb.ID = c.FEELING_OF_BOOK_ID AND c.PARENT_ID IS NULL
                 LEFT JOIN USER u ON fb.USER_ID = u.ID
                 LEFT JOIN BOOK b ON fb.BOOK_ID = b.id
        WHERE fb.ID = #{id}
    </select>

    <select id="findAllByBook" parameterType="String"
            resultMap="feelingOfBookResultMap">
        SELECT fb.ID           AS fb_id,
               fb.BOOK_REPORT       AS fb_book_report,
               fb.CREATED_DATE AS fb_created_date,
               fb.TIME_SPENT_READING       AS fb_time_spent_reading,
               fb.NOTE         AS fb_NOTE,
               fb.USER_ID      AS fb_user_id,
               fb.BOOK_ID      AS fb_book_id,
               u.ID            AS user_id,
               u.FULLNAME      AS user_fullname,
               u.AVATAR        AS user_avatar,
               c.ID            AS comment_id,
               c.USER_ID       AS comment_user_id,
               c.CONTENT       AS comment_content,
               c.PARENT_ID     AS comment_parent_id,
               c.CREATED_DATE  AS comment_created_date,
               c.MODIFIED_DATE AS comment_modified_date,
               c.MODIFIED_BY   AS comment_modified_by
        FROM FEELING_OF_BOOK fb
                 LEFT JOIN COMMENT_FEELING_OF_BOOK c ON fb.ID = c.FEELING_OF_BOOK_ID AND c.PARENT_ID IS NULL
                 LEFT JOIN USER u ON fb.USER_ID = u.ID
                 LEFT JOIN BOOK b ON fb.BOOK_ID = b.id
        WHERE b.ID = #{bookId}
    </select>

    <select id="findByUserAndBook" resultMap="feelingOfBookResultMap">
        SELECT fb.ID           AS fb_id,
               fb.BOOK_REPORT       AS fb_book_report,
               fb.CREATED_DATE AS fb_created_date,
               fb.TIME_SPENT_READING       AS fb_time_spent_reading,
               fb.NOTE         AS fb_NOTE,
               fb.USER_ID      AS fb_user_id,
               fb.BOOK_ID      AS fb_book_id,
               u.ID            AS user_id,
               u.FULLNAME      AS user_fullname,
               u.AVATAR        AS user_avatar,
               c.ID            AS comment_id,
               c.USER_ID       AS comment_user_id,
               c.CONTENT       AS comment_content,
               c.PARENT_ID     AS comment_parent_id,
               c.CREATED_DATE  AS comment_created_date,
               c.MODIFIED_DATE AS comment_modified_date,
               c.MODIFIED_BY   AS comment_modified_by
        FROM FEELING_OF_BOOK fb
                 LEFT JOIN COMMENT_FEELING_OF_BOOK c ON fb.ID = c.FEELING_OF_BOOK_ID AND c.PARENT_ID IS NULL
                 LEFT JOIN USER u ON fb.USER_ID = u.ID
                 LEFT JOIN BOOK b ON fb.BOOK_ID = b.id
        WHERE fb.USER_ID = #{userId} AND fb.BOOK_ID = #{bookId}
    </select>

    <resultMap id="feelingOfBookResultMap" type="com.hieDev.minierp.entity.FeelingOfBook">
        <id property="id" column="fb_id"/>
        <result property="bookReport" column="fb_book_report"/>
        <result property="createdDate" column="fb_created_date"/>
        <result property="timeSpentReading" column="fb_time_spent_reading"/>
        <result property="note" column="fb_note"/>
        <association property="user" column="user_id" javaType="com.hieDev.minierp.entity.User"
                     resultMap="userResultMap"></association>
        <collection property="comments" column="comment_id"
                    ofType="com.hieDev.minierp.entity.CommentFeelingBook"
                    resultMap="commentResultMap"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.hieDev.minierp.entity.User">
        <id property="id" column="comment_user_id"/>
        <result property="id" column="user_id"/>
        <result property="fullname" column="user_fullname"/>
        <result property="avatar" column="user_avatar"/>
    </resultMap>

    <resultMap id="commentResultMap" type="com.hieDev.minierp.entity.CommentFeelingBook">
        <id property="id" column="comment_id"/>
        <result property="content" column="comment_content"/>
        <result property="createdDate" column="comment_created_date"/>
        <result property="modifiedDate" column="comment_modified_date"/>
        <result property="modifiedBy" column="comment_modified_by"/>
        <association property="parentComment" column="comment_parent_id"
                     javaType="com.hieDev.minierp.entity.CommentFeelingBook" select="getParentComment"/>
        <association property="user" column="comment_user_id" javaType="com.hieDev.minierp.entity.User"
                     select="getUserId"/>
        <collection property="childComments" column="comment_id"
                    ofType="com.hieDev.minierp.entity.CommentFeelingBook" select="getChildComments"/>
    </resultMap>

    <select id="getParentComment" resultMap="parentCommentResultMap">
        SELECT ID AS comment_parent_id
        FROM COMMENT_FEELING_OF_BOOK
        WHERE ID = #{id}
    </select>

    <resultMap id="parentCommentResultMap" type="com.hieDev.minierp.entity.CommentFeelingBook">
        <id property="id" column="comment_parent_id"/>
        <result property="id" column="PARENT_ID"/>
    </resultMap>

    <select id="getUserId" resultMap="userResultMap">
        SELECT u.ID       AS comment_user_id,
               u.FULLNAME AS user_fullname,
               u.AVATAR   AS user_avatar
        FROM USER u
        WHERE u.ID = #{id}
    </select>

    <select id="getChildComments" resultMap="commentResultMap">
        SELECT c.id            AS comment_id,
               c.user_id       AS comment_user_id,
               c.content       AS comment_content,
               c.created_date  AS comment_created_date,
               c.parent_id     AS comment_parent_id,
               c.created_date  AS comment_created_date,
               c.modified_date AS comment_modified_date,
               c.modified_by   AS comment_modified_by,
               u.fullname      AS user_fullname,
               u.avatar        AS user_avatar
        FROM COMMENT_FEELING_OF_BOOK c
                 INNER JOIN USER u ON c.user_id = u.id
        WHERE c.parent_id = #{id}
    </select>

    <insert id="createFeelingOfBook" parameterType="com.hieDev.minierp.entity.FeelingOfBook">
        INSERT
        INTO FEELING_OF_BOOK (ID, USER_ID, BOOK_REPORT, CREATED_DATE, TIME_SPENT_READING, NOTE, BOOK_ID)
        VALUES (#{id}, #{user.id}, #{bookReport}, #{createdDate}, #{timeSpentReading}, #{note}, #{book.id})
    </insert>

    <delete id="deleteFeelingOfBook" parameterType="String">
        DELETE
        FROM FEELING_OF_BOOK
        WHERE USER_ID = #{userId}
          AND BOOK_ID = #{bookId}
    </delete>

    <select id="findFeelingByUser" parameterType="String" resultMap="feelingOfBookDetailResultMap">
        SELECT fb.*
        FROM FEELING_OF_BOOK AS fb
        where fb.book_id = #{bookId}
          and fb.user_id = #{userId};
    </select>

    <resultMap id="feelingOfBookDetailResultMap" type="com.hieDev.minierp.entity.FeelingOfBook">
        <id property="id" column="id"/>
        <result property="bookReport" column="BOOK_REPORT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="timeSpentReading" column="TIME_SPENT_READING"/>
        <result property="note" column="NOTE"/>
        <association property="user" column="USER_ID" javaType="com.hieDev.minierp.entity.User"
                     resultMap="userResultMap"></association>
    </resultMap>
</mapper>