<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.MonthlyManagementTimeDayMapper">

    <select id="findByCode" resultMap="monthlyManagementTimeDayResultMap">
        SELECT *
        FROM MONTHLY_MANAGEMENT_TIME_DAY m
        INNER JOIN USER u ON m.USER_ID = u.ID
        WHERE m.USER_ID = #{userId} AND m.CODE = #{code}
    </select>

    <resultMap id="monthlyManagementTimeDayResultMap" type="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        <id property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="content" column="CONTENT"/>
        <result property="dailyRoutine" column="DAILY_ROUTINE"/>
        <association property="user" column="USER_ID" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="USER_ID"/>
        <result property="fullname" column="FULLNAME"/>
    </resultMap>

    <insert id="createMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        INSERT INTO MONTHLY_MANAGEMENT_TIME_DAY (ID, CODE, CONTENT, USER_ID, DAILY_ROUTINE)
        VALUES (UUID(), #{code}, #{content}, #{user.id}, #{dailyRoutine})
    </insert>

    <update id="updateMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        UPDATE MONTHLY_MANAGEMENT_TIME_DAY
        SET CONTENT = #{content},
            DAILY_ROUTINE = #{dailyRoutine}
        WHERE ID = #{id};
    </update>
</mapper>