<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.MonthlyManagementTimeDayMapper">

    <select id="findByListCode" resultMap="monthlyManagementTimeDayResultMap">
        SELECT *
        FROM MONTHLY_MANAGEMENT_TIME_DAY m
        INNER JOIN USER u ON m.USER_ID = u.ID
        WHERE m.USER_ID = #{userId} AND m.CODE IN
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <select id="findByCode" resultMap="monthlyManagementTimeDayResultMap">
        SELECT *
        FROM MONTHLY_MANAGEMENT_TIME_DAY m
                 INNER JOIN USER u ON m.USER_ID = u.ID
        WHERE m.USER_ID = #{userId} AND m.CODE = #{code}
    </select>

    <resultMap id="monthlyManagementTimeDayResultMap" type="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        <id property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="content" column="CONTENT"/>
        <result property="dailyRoutine" column="DAILY_ROUTINE"/>
        <result property="incomeThisMonth" column="INCOME_THIS_MONTH"/>
        <result property="fixedCosts" column="FIXED_COSTS"/>
        <result property="fluctuatingCosts" column="FLUCTUATING_COSTS"/>
        <result property="spendingGoals" column="SPENDING_GOALS"/>
        <association property="user" column="USER_ID" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="USER_ID"/>
        <result property="fullname" column="FULLNAME"/>
    </resultMap>

    <insert id="createMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        INSERT INTO MONTHLY_MANAGEMENT_TIME_DAY (ID, CODE, CONTENT, USER_ID, DAILY_ROUTINE, INCOME_THIS_MONTH, FIXED_COSTS, FLUCTUATING_COSTS)
        VALUES (UUID(), #{code}, #{content}, #{user.id}, #{dailyRoutine}, #{incomeThisMonth}, #{fixedCosts}, #{fluctuatingCosts})
    </insert>

    <update id="updateMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        UPDATE MONTHLY_MANAGEMENT_TIME_DAY
        SET CONTENT = #{content},
            DAILY_ROUTINE = #{dailyRoutine},
            INCOME_THIS_MONTH = #{incomeThisMonth},
            FIXED_COSTS = #{fixedCosts},
            FLUCTUATING_COSTS = #{fluctuatingCosts}
        WHERE ID = #{id};
    </update>

    <insert id="createSpendingMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        INSERT INTO MONTHLY_MANAGEMENT_TIME_DAY (ID, CODE, USER_ID, SPENDING_GOALS)
        VALUES (UUID(), #{code}, #{user.id}, #{spendingGoals})
    </insert>

    <update id="updateSpendingMonthlyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.MonthlyManagementTimeDay">
        UPDATE MONTHLY_MANAGEMENT_TIME_DAY
        SET SPENDING_GOALS = #{spendingGoals}
        WHERE ID = #{id};
    </update>
</mapper>