<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.NotificationMapper">

    <!--    Get All Notification-->
    <select id="getAllNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification" resultMap="notiResultMap">
        SELECT *
        FROM notification
        LIMIT #{start}, #{pageSize}
    </select>

    <!--    Create new Notification-->
    <select id="createNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification" resultMap="notiResultMap">
        INSERT INTO notification (id, title, content, file, created_date)
        VALUES (#{id}, #{title}, #{content}, #{file}, NOW())
    </select>

    <select id="findById" parameterType="String" resultMap="notiResultMap">
        SELECT *
        FROM notification
        WHERE id = #{id}
    </select>

    <!--    Update Notification-->
    <update id="updateNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification">
        UPDATE notification
        SET title   = #{title},
            content = #{content},
            file    = #{file}
        WHERE id = #{id}
    </update>

    <!--    Delete Notification-->
    <delete id="delNoti" parameterType="String">
        DELETE
        FROM notification
        WHERE id = #{id}
    </delete>

    <resultMap id="notiResultMap" type="com.shsoftvina.erpshsoftvina.entity.Notification">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="file" column="file"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="getCommentsByNotificationId" resultMap="notificationWithCommentsResultMap">
        SELECT
            n.id AS notification_id,
            n.title AS notification_title,
            n.content AS notification_content,
            n.file AS notification_file,
            n.created_date AS notification_created_date,
            c.id AS comment_id,
            c.user_id AS comment_user_id,
            c.content AS comment_content,
            c.created_date AS comment_created_date,
            c.parent_id AS comment_parent_id,
            c.created_date AS comment_created_date,
            c.modified_date AS comment_modified_date,
            c.modified_by AS comment_modified_by,
            u.fullname AS user_fullname,
            u.avatar AS user_avatar,
            u.status AS user_status
        FROM
            notification n
                LEFT JOIN comment_notification c ON n.id = c.notification_id AND c.parent_id IS NULL
                LEFT JOIN user u ON c.user_id = u.id
        WHERE n.id = #{notificationId}
    </select>


    <select id="getChildComments" resultMap="commentChildTreeResultMap">
        SELECT c.id AS comment_id,
               c.user_id AS comment_user_id,
               c.content AS comment_content,
               c.created_date AS comment_created_date,
               c.parent_id AS comment_parent_id,
               c.created_date AS comment_created_date,
               c.modified_date AS comment_modified_date,
               c.modified_by AS comment_modified_by,
               u.fullname AS user_fullname,
               u.avatar AS user_avatar,
               u.status AS user_status
        FROM comment_notification c
                 INNER JOIN user u ON c.user_id = u.id
        WHERE c.parent_id = #{id}
    </select>

    <resultMap id="commentTreeResultMap" type="com.shsoftvina.erpshsoftvina.entity.CommentNotification">
        <id property="id" column="comment_id" />
        <result property="content" column="comment_content" />
        <result property="createdDate" column="comment_created_date" />
        <result property="parentId" column="comment_parent_id" />
        <association property="user" column="comment_user_id" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
        <collection property="childComments" column="comment_id" ofType="com.shsoftvina.erpshsoftvina.entity.CommentNotification" select="getChildComments" />
    </resultMap>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="comment_user_id" />
        <result property="fullname" column="user_fullname" />
        <result property="avatar" column="user_avatar" />
        <result property="status" column="user_status" />
    </resultMap>

    <resultMap id="commentChildTreeResultMap" type="com.shsoftvina.erpshsoftvina.entity.CommentNotification">
        <id property="id" column="comment_id" />
        <result property="content" column="comment_content" />
        <result property="createdDate" column="comment_created_date" />
        <result property="parentId" column="comment_parent_id" />
        <association property="user" column="comment_user_id" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
    </resultMap>

    <resultMap id="notificationWithCommentsResultMap" type="com.shsoftvina.erpshsoftvina.entity.Notification">
        <id property="id" column="notification_id" />
        <result property="title" column="notification_title" />
        <result property="content" column="notification_content" />
        <result property="file" column="notification_file" />
        <result property="createdDate" column="notification_created_date" />
        <collection property="listComments" column="comment_id" ofType="com.shsoftvina.erpshsoftvina.entity.CommentNotification" resultMap="commentTreeResultMap" />
    </resultMap>

</mapper>