<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.NotificationMapper">

    <!--    Get All Notification-->
    <select id="getAllNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification" resultMap="notiShowResultMap">
        <![CDATA[
        SELECT *
        FROM NOTIFICATION n
        WHERE (n.title LIKE '%' #{search} '%' OR n.files LIKE '%' #{search} '%')
        ORDER BY created_date DESC
            LIMIT #{start}, #{pageSize}
        ]]>
    </select>

    <select id="getNotificationById" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification" resultMap="notiShowResultMap">
        SELECT *
        FROM NOTIFICATION n
        WHERE n.id = #{id}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM NOTIFICATION n
        WHERE (n.title LIKE '%' #{search} '%' OR n.files LIKE '%' #{search} '%');
    </select>

    <!--    Create new Notification-->
    <select id="createNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification">
        INSERT INTO NOTIFICATION (ID, TITLE, CONTENT, FILES, CREATED_DATE, USER_ID)
        VALUES (#{id}, #{title}, #{content}, #{files}, #{createdDate}, #{user.id})
    </select>

    <!--    Update Notification-->
    <update id="updateNoti" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification">
        UPDATE NOTIFICATION
        SET title   = #{title},
            content = #{content},
            files    = #{files}
        WHERE id = #{id}
    </update>

    <!--    Update Notification-->
    <update id="updateNotification" parameterType="com.shsoftvina.erpshsoftvina.entity.Notification">
        UPDATE NOTIFICATION
        SET title   = #{title},
            content = #{content},
            files    = #{files}
        WHERE id = #{id}
    </update>

    <!--    Delete Notification-->
    <delete id="delNoti" parameterType="String">
        DELETE
        FROM NOTIFICATION
        WHERE id = #{id}
    </delete>

    <resultMap id="notiShowResultMap" type="com.shsoftvina.erpshsoftvina.entity.Notification">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="file" column="file"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="findById" resultMap="notificationResultMap">
        SELECT
            n.id AS notification_id,
            n.title AS notification_title,
            n.content AS notification_content,
            n.files AS notification_file,
            n.created_date AS notification_created_date,
            n.user_id AS notification_user_id,
            c.id AS comment_id,
            c.user_id AS comment_user_id,
            c.content AS comment_content,
            c.parent_id AS comment_parent_id,
            c.created_date AS comment_created_date,
            c.modified_date AS comment_modified_date,
            c.modified_by AS comment_modified_by,
            u.fullname AS user_fullname,
            u.avatar AS user_avatar
        FROM
            NOTIFICATION n
                LEFT JOIN COMMENT_NOTIFICATION c ON n.id = c.notification_id AND c.parent_id IS NULL
                LEFT JOIN USER u ON c.user_id = u.id
        WHERE n.id = #{id}
        ORDER BY c.created_date DESC;
    </select>

    <resultMap id="notificationResultMap" type="com.shsoftvina.erpshsoftvina.entity.Notification">
        <id property="id" column="notification_id" />
        <result property="title" column="notification_title" />
        <result property="content" column="notification_content" />
        <result property="files" column="notification_file" />
        <result property="createdDate" column="notification_created_date" />
        <association property="user" column="notification_user_id" javaType="com.shsoftvina.erpshsoftvina.entity.User" select="getUser"/>
        <collection property="comments" column="comment_id" ofType="com.shsoftvina.erpshsoftvina.entity.CommentNotification" resultMap="commentResultMap" />
    </resultMap>

    <resultMap id="commentResultMap" type="com.shsoftvina.erpshsoftvina.entity.CommentNotification">
        <id property="id" column="comment_id" />
        <result property="content" column="comment_content" />
        <result property="createdDate" column="comment_created_date" />
        <result property="modifiedDate" column="comment_modified_date" />
        <result property="modifiedBy" column="comment_modified_by" />
        <association property="user" column="comment_user_id" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
        <collection property="childComments" column="comment_id" ofType="com.shsoftvina.erpshsoftvina.entity.CommentNotification" select="getChildComments" />
    </resultMap>

    <select id="getUser" resultMap="userNotiResultMap">
        SELECT *
        FROM USER
        WHERE id = #{id}
    </select>

    <resultMap id="userNotiResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="ID" />
        <result property="fullname" column="FULLNAME" />
    </resultMap>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="comment_user_id" />
        <result property="fullname" column="user_fullname" />
        <result property="avatar" column="user_avatar" />
    </resultMap>

    <select id="getChildComments" resultMap="commentResultMap">
        SELECT c.id AS comment_id,
               c.user_id AS comment_user_id,
               c.content AS comment_content,
               c.created_date AS comment_created_date,
               c.parent_id AS comment_parent_id,
               c.created_date AS comment_created_date,
               c.modified_date AS comment_modified_date,
               c.modified_by AS comment_modified_by,
               u.fullname AS user_fullname,
               u.avatar AS user_avatar
        FROM COMMENT_NOTIFICATION c
                 INNER JOIN USER u ON c.user_id = u.id
        WHERE c.parent_id = #{id}
        ORDER BY c.created_date DESC;
    </select>

</mapper>