<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.TodoManagementMapper">
    <select id="findTotalElementPerMonth" resultMap="managementTimeMap">
        SELECT
            m.id AS management_time_id,
            m.value AS management_time_value,
            c.id AS category_management_time_id,
            c.value AS category_management_time_value,
            t.id AS todo_management_time_id,
            t.day AS todo_management_time_day,
            t.target AS todo_management_time_target,
            t.performance AS todo_management_time_performance,
            t.user_id AS todo_management_time_user_id,
            u.fullname AS user_fullname
            FROM management_time m
               LEFT JOIN category_management_time c on m.id = c.management_time_id
            LEFT JOIN todo_management_time t on c.id = t.category_management_time_id
        LEFT JOIN user u on t.user_id = u.id
        UNION
        SELECT
            m.id AS management_time_id,
            m.value AS management_time_value,
            null AS category_management_time_id,
            null AS category_management_time_value,
            t.id AS todo_management_time_id,
            t.day AS todo_management_time_day,
            t.target AS todo_management_time_target,
            t.performance AS todo_management_time_performance,
            t.user_id AS todo_management_time_user_id,
            u.fullname AS user_fullname
        FROM management_time m
                 LEFT JOIN todo_management_time t on m.id = t.management_time_id
                 LEFT JOIN user u on t.user_id = u.id
    </select>

    <resultMap id="managementTimeMap" type="com.shsoftvina.erpshsoftvina.entity.ManagementTime">
        <id property="id" column="management_time_id"/>
        <result property="value" column="management_time_value" />
        <collection property="categories" column="category_management_time_id" ofType="com.shsoftvina.erpshsoftvina.entity.CategoryManagementTime" resultMap="categoryManagementTimeMap" />
        <collection property="todos" column="todo_management_time_id" ofType="com.shsoftvina.erpshsoftvina.entity.TodoManagementTime" resultMap="todoManagementTimeMap" />
    </resultMap>

    <resultMap id="categoryManagementTimeMap" type="com.shsoftvina.erpshsoftvina.entity.CategoryManagementTime">
        <id property="id" column="category_management_time_id"/>
        <result property="value" column="category_management_time_value" />
        <collection property="todos" column="todo_management_time_id" ofType="com.shsoftvina.erpshsoftvina.entity.TodoManagementTime" resultMap="todoManagementTimeMap" />
    </resultMap>

    <resultMap id="todoManagementTimeMap" type="com.shsoftvina.erpshsoftvina.entity.TodoManagementTime">
        <id property="id" column="todo_management_time_id"/>
        <result property="target" column="todo_management_time_target" />
        <result property="day" column="todo_management_time_day" />
        <result property="performance" column="todo_management_time_performance" />
        <collection property="user" column="todo_management_time_user_id" ofType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userMap" />
    </resultMap>

    <resultMap id="userMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="todo_management_time_user_id"/>
        <result property="fullname" column="user_fullname" />
    </resultMap>
</mapper>