<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.UserMapper">

    <select id="findByEmailAndStatus" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM user
        where email = #{email} AND status = #{status}
    </select>

    <select id="findByEmail" parameterType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap">
        SELECT *
        FROM user
        where email = #{email}
    </select>

    <insert id="registerUser" parameterType="com.shsoftvina.erpshsoftvina.entity.User">
        INSERT
        INTO user (fullname, email, id, password, status)
        VALUES (#{fullname}, #{email}, #{id},#{password}, #{status});
    </insert>

    <update id="updateUser" parameterType="com.shsoftvina.erpshsoftvina.entity.User">
        UPDATE user
        SET
            fullname = #{fullname},
            address = #{address},
            date_of_birth = #{dateOfBirth},
            phone = #{phone},
            emergency_phone = #{emergencyPhone},
            avatar = #{avatar},
            type = #{type},
            department = #{department},
            working_day = #{workingDay},
            contract = #{contract},
            basic_salary = #{basicSalary},
            allowance = #{allowance},
            insurance = #{insurance},
            atm = #{atm},
            email = #{email},
            password = #{password},
            role = #{role},
            status = #{status},
            position = #{position},
            resume = #{resume},
            timesheetsCode = #{timesheetsCode}
        WHERE id = #{id};

    </update>

    <insert id="createUser" parameterType="com.shsoftvina.erpshsoftvina.entity.User">
        INSERT INTO user (
                          fullname,
                          date_of_birth,
                          phone,
                          emergency_phone,
                          avatar,
                          type,
                          department,
                          job_start_date,
                          contract,
                          basic_salary,
                          allowance,
                          insurance,
                          atm,
                          email,
                          role,
                          status,
                          password,
                          id)
        VALUES (
                #{fullname},
                #{dateOfBirth},
                #{phone},
                #{emergencyPhone},
                #{avatar},
                #{type},
                #{department},
                #{jobStartDate},
                #{contract},
                #{basicSalary},
                #{allowance},
                #{insurance},
                #{atm},
                #{email},
                #{role},
                #{status},
                #{password},
                #{id})
    </insert>

    <select id="getAllUser" parameterType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap">
         <![CDATA[
        SELECT u.fullname, u.id, u.email , u.department, u.position
        FROM user AS u
        WHERE u.status = #{status}
        AND (u.email LIKE '%' #{searchTerm} '%' OR SUBSTRING_INDEX(u.fullname, ' ', -1) LIKE '%' #{searchTerm} '%')
        ORDER BY SUBSTRING_INDEX(u.fullname, ' ', -1) ${sortDirection}
        LIMIT #{start}, #{pageSize};
        ]]>
    </select>

    <select id="findById" parameterType="String" resultMap="userResultMap">
        SELECT u.*, c.id AS contract_id, c.*, i.id AS insurance_id, i.*
        FROM user u
        INNER JOIN contract c ON u.id = c.user_id INNER JOIN insurance i
        WHERE u.id = #{id}
    </select>

    <update id="changeStatusUser" parameterType="String" >
        UPDATE user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="activeUserRegister" parameterType="com.shsoftvina.erpshsoftvina.entity.User">
        UPDATE user SET role = #{role} , status = #{status}, is_first_update_profile = #{isFirstUpdateProfile} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="String">
       DELETE from user where id = #{id}
    </delete>

    <update id="updateUserProfile" parameterType="com.shsoftvina.erpshsoftvina.entity.User">
        UPDATE user
        SET
            fullname = #{fullname},
            date_of_birth = #{dateOfBirth},
            phone = #{phone},
            emergency_phone = #{emergencyPhone},
            avatar = #{avatar},
            address = #{address}
        WHERE id = #{id};

    </update>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="id"/>
        <result property="fullname" column="fullname"/>
        <result property="address" column="address"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="phone" column="phone"/>
        <result property="emergencyPhone" column="emergency_phone"/>
        <result property="avatar" column="avatar"/>
        <result property="type" column="type"/>
        <result property="department" column="department"/>
        <result property="atm" column="atm"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="status" column="status"/>
        <result property="position" column="position"/>
        <result property="resume" column="resume"/>
        <result property="isFirstUpdateProfile" column="is_first_update_profile"/>
        <result property="timesheetsCode" column="timesheets_code"/>
        <collection property="contracts" ofType="com.shsoftvina.erpshsoftvina.entity.Contract" resultMap="listContractResultMap"/>
    </resultMap>

    <resultMap id="listContractResultMap" type="com.shsoftvina.erpshsoftvina.entity.Contract" >
        <id property="id" column="contract_id"/>
        <result property="basicSalary" column="basic_salary"/>
        <result property="allowance" column="allowance"/>
        <result property="contract" column="contract"/>
        <result property="createdDate" column="created_date"/>
        <association property="insurance" column="insurance_id" javaType="com.shsoftvina.erpshsoftvina.entity.Insurance" resultMap="insuranceResultMap">
        </association>
    </resultMap>

    <resultMap id="insuranceResultMap" type="com.shsoftvina.erpshsoftvina.entity.Insurance" >
        <id property="id" column="insurance_id"/>
        <result property="insuranceType" column="insurance_type"/>
        <result property="money" column="money"/>
    </resultMap>

</mapper>