<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsoftvina.erpshsoftvina.mapper.WeeklyManagementTimeDayMapper">




<!--    <select id="findByStartDateAndEndDateOfUser" resultMap="weeklyManagementTimeDayResultMap">-->
<!--        SELECT *-->
<!--        FROM WEEKLY_MANAGEMENT_TIME_DAY w-->
<!--                 INNER JOIN USER u ON w.USER_ID = u.ID-->
<!--        WHERE w.USER_ID = #{userId} AND w.START_DATE = #{firstDayOfWeek} AND w.END_DATE = #{lastDayOfWeek}-->
<!--    </select>-->


    <select id="findByCode" resultMap="weeklyManagementTimeDayResultMap">
        SELECT *
        FROM WEEKLY_MANAGEMENT_TIME_DAY
        WHERE USER_ID = #{userId} AND CODE = #{code}
    </select>

    <resultMap id="weeklyManagementTimeDayResultMap" type="com.shsoftvina.erpshsoftvina.entity.WeeklyManagementTimeDay">
        <id property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="content" column="CONTENT"/>
        <association property="user" column="USER_ID" javaType="com.shsoftvina.erpshsoftvina.entity.User" resultMap="userResultMap"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.shsoftvina.erpshsoftvina.entity.User">
        <id property="id" column="USER_ID"/>
        <result property="fullname" column="FULLNAME"/>
    </resultMap>

    <insert id="createWeeklyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.WeeklyManagementTimeDay">
        INSERT INTO WEEKLY_MANAGEMENT_TIME_DAY (ID, CODE, CONTENT, USER_ID)
        VALUES (UUID(), #{code}, #{content}, #{user.id})
    </insert>

    <update id="updateWeeklyManagementTimeDay" parameterType="com.shsoftvina.erpshsoftvina.entity.WeeklyManagementTimeDay">
        UPDATE WEEKLY_MANAGEMENT_TIME_DAY SET CONTENT = #{content}
        WHERE ID = #{id};
    </update>

<!--    <select id="findById" resultMap="weeklyManagementTimeDayResultMap">-->
<!--        SELECT *-->
<!--        FROM WEEKLY_MANAGEMENT_TIME_DAY w-->
<!--                 INNER JOIN USER u ON w.USER_ID = u.ID-->
<!--        WHERE w.ID = #{id}-->
<!--    </select>-->


</mapper>